{% extends "base_generic.html" %}
{% block content %}
<h1>My Local Library</h1>

  <p>Welcome to <em>MyLocalLibrary</em></p>

<h2>Storage</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ number_of_books }}</li>
    <li><strong>Books_with_word:</strong> {{ number_of_books_with_word }}</li>
    <li><strong>Copies:</strong> {{ number_of_book_instances }}</li>
    <li><strong>Copies available:</strong> {{ number_of_available_book_instances }}</li>
    <li><strong>Authors:</strong> {{ number_of_authors }}</li>
  </ul>
<h2>Dynamic content</h2>
<p>You have visited this page {{ number_of_visits }}{% if number_of_visits == 1 %} time{% else %} times{% endif %}</p>
{% endblock %}