{% extends "base_generic.html" %}
{% block content %}
<h1>Author List</h1>
{% if perms.catalog.can_mark_returned %}
<a href="{% url 'author-create' %}">Add author</a>
{% endif %}
{% if author_list %}
<ul>
    {% for author in author_list %}
    <li>
        <a href="{{ author.get_absolute_url }}">
            {{ author }} ({% if author.date_of_birth %}{{ author.date_of_birth }}{% endif %} - {% if author.date_of_death %}{{ author.date_of_death }}{% endif %})
        </a>
        {% if perms.catalog.can_mark_returned %}
            <a href="{% url 'author-update' author.id %}">Update author</a> |
            <a href="{% url 'author-delete' author.id %}">Delete author</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Authors_Not_Found</p>
{% endif %}
{% endblock %}